<div *ngIf="editors; else noEditions">
    <h4>List of editions</h4>
    <ul>
        <li *ngFor="let edition of editors">
            <dx-button *ngIf="removeEnabled"
                type="danger"
                icon="remove"
                [useSubmitBehavior]="false"
                (click)="removeEditors.emit(edition)">
            </dx-button>
            {{edition.editor?.name}} <span *ngIf="edition?.publicationDate">in {{edition.publicationDate | date:'shortDate' }}</span> <span *ngIf="edition.collection">{{edition.collection}}</span> - <span *ngIf="edition.isbn">{{ edition.isbn }}</span></li>
    </ul>
</div>
<ng-template #noEditions>No editions created</ng-template>
