{% extends 'spa.html.twig' %}

{% block stylesheets %}
    {{ parent()  }}
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}
