api_platform:
    title: 'My comics library'
    description: '<strong>Demo of an API built with Api-Platform v2 (use REST or GraphQL).</strong>
      <br />My comics library allow to manage your comics collection in a simple way.
      <br />To use the Api, first get a valid token with this command in a shell `php bin/console app:new-jwt-token` and copy paste the last row in the form after clicking on "Authorize" green button, here on the top right corner.'
    version: '1.0.0'
    mapping:
        paths: ['%kernel.project_dir%/src/Entity']
    formats:
        jsonld:  ['application/ld+json']
        json:    ['application/json']
        html:    ['text/html']
    graphql:
        graphiql:
            enabled: true
    collection:
        pagination:
            items_per_page: 10
            client_items_per_page: true
            items_per_page_parameter_name: itemsPerPage
            maximum_items_per_page: 50

    exception_to_status:
        # The 2 following handlers are registered by default, keep those lines to prevent unexpected side effects
        Symfony\Component\Serializer\Exception\ExceptionInterface: 400 # Use a raw status code (recommended)
        ApiPlatform\Core\Exception\InvalidArgumentException: 'HTTP_BAD_REQUEST' # Or a `Symfony\Component\HttpFoundation\Response`'s constant

    # JWT extra info
    swagger:
        api_keys:
            apiKey:
                name: Authorization
                type: header