doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                # take care at the resolve which is mandatory to evaluate the content of DATABASE_URL
                url: '%env(resolve:DATABASE_URL)%'
            fixtures:
                url: '%env(resolve:FIXTURES_DATABASE_URL)%'
    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity\'
                alias: App
