security:
    encoders:
        # @todo should use password encoding, more info here: https://symfony.com/doc/current/security.html#c-encoding-the-user-s-password
        Symfony\Component\Security\Core\User\User: plaintext
    # https://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        in_memory:
            memory:
                users:
                    test:
                        password:           test
                        roles:              ROLE_USER
                    admin:
                        password:           admin
                        roles:              [ROLE_USER, ROLE_ADMIN]
#        api_key_user_provider:
#            id: App\Security\ApiKeyUserProvider

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        vuejs:
            pattern: ^/(demo/(vuejs|form|login/(json|json/isloggedin|json/logout))|api)
            anonymous: ~
            # this guard solve this issue: https://github.com/symfony/symfony/issues/25806
            guard:
                authenticators:
                    - App\Security\TokenAuthenticator
            #THIS FAILS coz i don't succeed to inject some services (maybe private) and no way to load user
            #simple_preauth:
            #    authenticator: App\Security\ApiKeyAuthenticator
            json_login:
                check_path: /demo/login/json
                # this doesn't work, see in the routes.yaml:12 for more explanation
                #check_path: demo_login_json_check
                # for instance i use the same keys for json_login and form_login, but i could change his easily if i update the TokenAuthenticator Guard
                username_path: "%login_username_path%"
                password_path: "%login_password_path%"
            logout:
                path:   demo_login_json_logout
                target: index
                invalidate_session: true
        main:
            pattern: ^/demo/login/(secured|standard|authenticate|logout)
            anonymous: ~

            # activate different ways to authenticate

            # http_basic: ~
            # https://symfony.com/doc/current/book/security.html#a-configuring-how-your-users-will-authenticate

            # form_login: ~
            # https://symfony.com/doc/current/cookbook/security/form_login_setup.html

            form_login:
                default_target_path: demo_secured_page
                login_path: demo_login_standard
                check_path: demo_login_standard_check
                # field names for the username and password fields
                username_parameter: "%login_username_path%"
                password_parameter: "%login_password_path%"

                # csrf token options
                csrf_parameter:       "%csrf_token_parameter%"
                csrf_token_generator: security.csrf.token_manager
                csrf_token_id:        "%csrf_token_id%"

            logout:
                path:   demo_login_standard_logout
                target: index
                invalidate_session: true
