###> symfony/framework-bundle ###
.env
/public/bundles/
/var/cache
/var/certificates
/var/data/main.db
/var/log
/var/report
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###

/.idea/
/public/build/
/assets/js/lib/config.js
/testcafe.xunit.xml

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

/var/data/test.db

/public/dist/
/public/dist-ng/
/public/service-worker.js

/assets/js/angular/devxpress-angular/node_modules/

/public/dist-ng-prod-with-service-worker
