<dx-data-grid
        id="gridContainer"
        [dataSource]="dataSource"
        [showColumnLines]="false"
        [showRowLines]="true"
        [showBorders]="true"
        [rowAlternationEnabled]="true"
        [allowColumnReordering]="true"
        (onSelectionChanged)="getSelectedRow()">
    <dxi-column dataField="id" caption="Id" [width]="50"></dxi-column>
    <dxi-column dataField="title" caption="Titre"></dxi-column>
    <dxi-column dataField="indexInSerie" caption="Index" [width]="50" [allowSorting]=false></dxi-column>
    <dxi-column dataField="authors" caption="Auteurs" [width]="65" [allowSorting]=false cellTemplate="countTemplate"></dxi-column>
    <dxi-column dataField="editors" caption="Editions" [width]="65" [allowSorting]=false cellTemplate="countTemplate"></dxi-column>
    <dxo-remote-operations
            [sorting]="true"
            [paging]="true">
    </dxo-remote-operations>
    <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-export [enabled]="true" fileName="Books" [allowExportSelectedData]="true"></dxo-export>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
            mode="row"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
    </dxo-editing>
    <dxo-paging [pageSize]=apiConfig.itemsPerPage></dxo-paging>
    <dxo-pager
            [showPageSizeSelector]="apiConfig.clientItemsPerPage"
            [allowedPageSizes]="[apiConfig.itemsPerPage, 25, apiConfig.maximumItemsPerPage]"
    ></dxo-pager>

    <div *dxTemplate="let data of 'countTemplate'">
        <span class="badge badge-light">{{ data.value.length }}</span>
    </div>
</dx-data-grid>