<div *ngIf="book; else noBook" class="caption">
    <h3>Book sumup</h3>
    <strong>{{ book.title }}</strong> <br />
    <small>{{ book.description }}</small> <br />
    <div *ngIf="book.editors?.length">
        <my-wizard-list-editors [editors]="book.editors"></my-wizard-list-editors>
    </div>
    <div *ngIf="book.authors?.length">
        <my-wizard-list-authors [authors]="book.authors"></my-wizard-list-authors>
    </div>
    {{book.serie?.name}}
</div>
<ng-template #noBook>No Book created</ng-template>
