{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>List of demos</h2>
        <ul class="list-group">
        {% for routeName, route in routes %}
            <li class="list-group-item"><a href='{{ route }}'>{{ routeName }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
