{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/js/ghibli.css') }}">{% endblock %}
{% block javascripts %}<script src="{{ asset('build/js/ghibli.js') }}"></script>{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}