<div *ngIf="authors; else noAuthors">
    <h4>List of authors</h4>
    <ul>
        <li *ngFor="let authorInfo of authors">
            <dx-button *ngIf="removeEnabled"
                type="danger"
                icon="remove"
                [useSubmitBehavior]="false"
                (click)="removeAuthors.emit(authorInfo)">
            </dx-button>
            {{authorInfo.author?.firstname}} {{authorInfo.author?.lastname}} ({{authorInfo.role?.translationKey}})
        </li>
    </ul>
</div>
<ng-template #noAuthors>No authors created</ng-template>
