<form (submit)="goNext($event)">
    <div class="d-flex flex-lg-row">
        <h3>Create a new Book</h3>
    </div>
    <div class="d-flex flex-lg-row">
        <dx-form  id="form-book"
                  [(formData)]="book"
                  [readOnly]="options.readonly"
                  [showColonAfterLabel]="options.showColon"
                  [showValidationSummary]="options.showValidationSummary"
                  [labelLocation]="options.labelLocation"
                  [minColWidth]="options.minColWidth"
                  [colCount]="options.colCount"
                  [width]="options.width"
                  validationGroup="bookGroup">
            <dxi-item dataField="title">
                <dxi-validation-rule
                        type="required"
                        message="Title is required">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="description"
                      editorType="dxTextArea">
            </dxi-item>
        </dx-form>
    </div>
    <div class="d-flex flex-lg-row justify-content-center">
        <button (click)="goCancel($event)" type="button" class="btn btn-warning col-2">cancel</button>
        <dx-button
                text="next"
                type="success"
                validationGroup="bookGroup"
                [useSubmitBehavior]="true">
        </dx-button>
    </div>
</form>