{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/js/quasar.css') }}">{% endblock %}
{% block javascripts %}<script src="{{ asset('build/js/quasar.js') }}"></script>{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}