{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% if useParent is defined and useParent %}
{{ parent() }}
    {% endif %}

    {% if appName %}
        {{ encore_entry_link_tags('js/'~appName) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if appName %}
        {{ encore_entry_script_tags('js/'~appName) }}
    {% endif %}
{% endblock %}

{% block body %}
<div id="app"></div>
{% endblock %}
