{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Hello {{ name | default('world') }} ! <br />
        it's {{ "now"|date('d') }} of {{ "now"|date("F")|lower }} {{ "now"|date('G:i:s') }}
    </div>
{% endblock %}
